<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="c-and-socials">
        <div>© 2022 Stackable.</div>
        <div class="social-icons-container">
          <a class="social-icon" href="https://www.xing.com/pages/stackable" target="_blank">
            <i class="fab fa-xing"></i>
          </a>
          <a class="social-icon" href="https://www.linkedin.com/company/stackabletech/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="social-icon" href="https://github.com/stackabletech" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="social-icon" href="https://twitter.com/stackabletech" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <!-- copyright notice -->
      <p>
        Apache, Apache Kafka®, Kafka, and the Kafka logo, Apache Druid, Druid, and the Druid logo,
        Apache ZooKeeper™, ZooKeeper, and the Druid logo, Apache Hive™, Hive, and the Hive logo,
        Apache Spark™, Spark, and the Spark logo, Apache Airflow, Airflow, and the Airflow logo,
        Apache HBase®, HBase, and the HBase logo, Apache NiFi, NiFi, and the NiFi logo, Apache
        Superset, Superset, the Superset logo, Apache Hadoop® HDFS, Apache Hadoop, Hadoop and the
        Hadoop logo, Apache Phoenix™, Phoenix and the Phoenix-Logo, Apache Iceberg, Iceberg and the
        Iceberg-Logo are either registered trademarks or trademarks of the Apache Software Foundation
        in the United States and/or other countries. Open Policy Agent (OPA) is a Cloud Native
        Computing Foundation graduated project. Licensed under the Apache License, Version 2.0. Trino
        is open source software licensed under the Apache License 2.0 and supported by the Trino
        Software Foundation. MinIO is a [“registered”, if applicable] trademark of the MinIO
        Corporation. All other products or name brands are trademarks of their respective holders.
        All product and service names used in this website are for identification purposes only and
        do not imply endorsement.
      </p>
    </div>
  </div>
</footer>
