<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://stackable.de">{{!--site.title--}}<img src="{{{uiRootPath}}}/img/stackable-logo.png"></a>
      <a class="navbar-item documentation-link" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Documentation</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
    </div>
  </nav>
</header>
