footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

.footer p {
  margin: 0.5rem 0;
}

.c-and-socials {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  .c-and-socials {
    flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  .c-and-socials {
    flex-direction: row;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-icon {
  background-color: var(--footer-font-color);
  color: var(--body-font-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  aspect-ratio: 1;
  height: 36px;
  cursor: pointer;
  transition: all .3s;
}

.social-icon:hover {
  background-color: var(--color-brand-primary);
  color: var(--footer-font-color);
  text-decoration: none;

}