@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src:
    local("Titillium Regular"),
    local("Titillium-Regular"),
    url(~typeface-titillium-web/files/titillium-web-latin-400.woff2) format("woff2"),
    url(~typeface-titillium-web/files/titillium-web-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 400;
  src:
    local("Roboto Italic"),
    local("Roboto-Italic"),
    url(~typeface-titillium-web/files/titillium-web-latin-400italic.woff2) format("woff2"),
    url(~typeface-titillium-web/files/titillium-web-latin-400italic.woff) format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  src:
    local("Titillium Medium"),
    local("Titillium-Medium"),
    url(~typeface-titillium-web/files/titillium-web-latin-600.woff2) format("woff2"),
    url(~typeface-titillium-web/files/titillium-web-latin-600.woff) format("woff");
}

@font-face {
  font-family: "Titillium Web";
  font-style: italic;
  font-weight: 600;
  src:
    local("Titillium Medium Italic"),
    local("Titillium-MediumItalic"),
    url(~typeface-titillium-web/files/titillium-web-latin-600italic.woff2) format("woff2"),
    url(~typeface-titillium-web/files/titillium-web-latin-600italic.woff) format("woff");
}
